.top-hadder{

    text-align: center;
    color: rgb(46, 238, 20);
    background-color:#9b59b6;
    padding: 50px;
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    
}
.button{
    text-decoration: none;
    padding: 8px;
    border: 1px solid white;
    border-radius: 5%;
    margin-right: 10px;
}
.button1{
    color: white;
    text-decoration: none;
    padding: 8px;
    border: 1px solid rgb(238, 6, 6);
    background-color: rgb(189, 44, 19);
    border-radius: 5%;
    margin-right: 10px;
}
.image-control{
    width: 90px;
}
.middlebody{
    text-align: center;
    background-color:#ecf0f1;
    padding: 10px;
}